<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MMORPG</title>
  </head>
  <body>
    <h1>A paradinha do jogo</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum laborum
      facilis similique, ea quas fugit harum rem.
    </p>
    <p>
      Cum, tempora dolor? Consectetur magni repellendus consequatur fuga, nisi
      illum sint commodi quasi?
    </p>
  </body>
</html>
